<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= baseURL %>/ico.png" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
    <title>hai bro</title>
</head>

<body>
        <div class="banner">
            <h1>s4ndal.py</h1>
            <h1>Playground</h1>
        </div>
        <nav class="navbar" id="tools">
            <ul class="items">
                <li class="item"><a class="box boxFlex center" href="/blog">Blog</a></li>
                <li class="item dropDown">
                    <ul class="subitems">
                        <li class="subitem"><a class="box boxFlex center" href="/tools/rce/revip">Reverse IP</a></li>
                        <li class="subitem"><a class="box boxFlex center" href="/tools/rce/seomatic">Seomatic Craft CMSRCE</a></li>
                    </ul>
                    <a class="box boxFlex center" href="#">Tools</a>
                </li>
            </ul>
        </nav>

    </html>